<table>
  <tr>
    <td>JS</td>
    <td><%= asset_path("test.js") %></td>
    <td><%= javascript_include_tag "test.js" %></td>
  </tr>
  <tr>
    <td>JS with dots</td>
    <td><%= asset_path("foo.something.js") %></td>
    <td><%= javascript_include_tag "foo.something" %></td>
  </tr>
  <tr>
    <td>JS with require</td>
    <td><%= asset_path("application.js") %></td>
    <td><%= javascript_include_tag "application" %></td>
  </tr>
  <tr>
    <td>JS from public</td>
    <td><%= compute_public_path "/javascripts/application.js", "javascripts" %></td>
    <td><%= javascript_include_tag "/javascripts/application.js" %></td>
  </tr>
  <tr>
    <td>Coffescript</td>
    <td><%= asset_path("coffee.js") %></td>
    <td><%= javascript_include_tag "coffee.js" %></td>
  </tr>
  <tr>
    <td>CSS</td>
    <td><%= asset_path("simple.css") %></td>
    <td id="test-simple"><%= stylesheet_link_tag "simple" %></td>
  </tr>
  <tr>
    <td>CSS with require</td>
    <td><%= asset_path("application.css") %></td>
    <td id="test-require"><%= stylesheet_link_tag "application.css" %></td>
  </tr>
  <tr>
    <td>SASS</td>
    <td><%= asset_path("sass.css") %></td>
    <td id="test-sass"><%= stylesheet_link_tag "sass" %></td>
  </tr>
  <tr>
    <td>SASS @import normal</td>
    <td><%= asset_path("sass.css") %></td>
    <td id="test-import"></td>
  </tr>
  <tr>
    <td>SASS @import partial</td>
    <td><%= asset_path("sass.css") %></td>
    <td id="test-import-partial"></td>
  </tr>
  <tr>
    <td>SASS @include mixin</td>
    <td><%= asset_path("sass.css") %></td>
    <td id="test-include-mixin"></td>
  </tr>
  <tr>
    <td>Image</td>
    <td><%= asset_path("ok.gif") %></td>
    <td><%= image_tag "ok.gif" %></td>
  </tr>
  <tr>
    <td>Image via css with erb</td>
    <td><%= asset_path("image_with_erb.css.erb") %></td>
    <td id="image_with_erb"><%= stylesheet_link_tag "image_with_erb" %></td>
  </tr>
  <tr>
    <td>Image via css with url</td>
    <td><%= asset_path("image_via_url.css") %></td>
    <td id="image_via_url"><%= stylesheet_link_tag "image_via_url" %></td>
  </tr>
  <tr>
    <td>Image via sass with url</td>
    <td><%= asset_path("image_via_sass_url.css") %></td>
    <td id="image_via_sass_url"><%= stylesheet_link_tag "image_via_sass_url" %></td>
  </tr>
</table>

<%= yield %>
